.todoNavigation {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.todoItem {
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    border-radius: 8px;

    h2 {
        color: #3a6ea5;
        margin: 0;
    }

    &:hover {
        background-color: rgb(236, 235, 235);
    }
    @media (min-width: 451px) and (max-width: 600px) {
        padding: 10px 5px;
        h2 {
            font-size: 18px;
        }
    }
    @media (min-width: 300px) and (max-width: 450px) {
        padding: 10px 5px;
        h2 {
            font-size: 13px;
        }
    }

    
    
}

.todoItem.selected {
    background-color: #ffffff !important;
    border: 1px solid #d7d8d9;
}


