.payment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .qr {
        max-width: 90%;
    }
}

.wa-button {
    background-color: green !important;
    margin-top: 20px !important;
    border-radius: 12px !important;
}

.instruction {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        text-align: center;
        color: #333;
    }

    .instruction-list {
        list-style-type: decimal;
        padding-left: 20px;

        li {
            margin-bottom: 10px;
            font-size: 1.1rem;
            color: #555;

            &:before {
                font-weight: bold;
                color: #007bff;
            }
        }
    }
}

.subscription {
    text-align: center;
    margin-top: 20px;

    h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
        color: #333;
    }

    .subscription-list {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .subscription-item {
        background-color: #f0f0f0;
        padding: 15px 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        font-size: 1.2rem;
        font-weight: bold;
        color: #555;
        flex: 1;
        min-width: 150px;
    }
}

.subscription-status {
    margin: 20px 0;
    text-align: center;

    h2 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
    }

    .subscription-item {
        padding: 15px;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: bold;
        display: inline-block;
        width: auto;
        min-width: 250px;
        text-align: center;

        &.active-subscription {
            color: #4c75a3;
            border: 2px solid #4c75a3;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
    }
}
